body{
	margin:0px;
	padding: 0px;
	display: flex;
	flex-direction:column;
    align-items: center;
    justify-content: center;
    background: url(../image/loginbg.jpg);
      background-size: cover;
      background-position:center;
      background-repeat:no-repeat;
}
input{
	text-align:center;
}
button{
	outline: none;
	cursor: pointer;
}
.mainverify{
	margin-top:20vh;
	height:60vh;
	width:40vw;
	background-color:white;


	border-radius:10px;
	overflow: hidden;
padding:8px;
float:right;

}
.mindiv{
	height:100%;
	margin:0px;
	  float: left;
  width: 33.33%;
 
}
#slide{
	position:absolute;
	background-color:#FA534E;
	height:60vh;
	width:20vw;

	left:30vw;
	text-align: center;
	
		
}
#guestdata,#user-verify{
	width:20vw;
	display:flex;
	flex-direction:column;
	justify-content:center;
align-items:center;


}

.guestin{
height:30px;
width:13rem;
display:block;
margin-top:20px;

}
#slide h3{
	color: white;
	margin-top:40%;
	text-transform:capitalize;
}
#slide button{
	margin-top: 40px;
	width:70%;
	height:3em;
	border:2px solid white;
	border-radius:50px;
	color:white;
	background-color:#1ABC9C;
	text-transform:capitalize;
}
.mainverify input{
	border:none;
	border-bottom:2px dotted #1ABC9C
}
#user_check,#guest_submit,#otpsub{
	height:40px;
	margin-top:20px;
width:13rem;
display:block;
margin-top:20px;
border-radius:15px;
background-color:#1ABC9C;
border:2px solid white;
color:white;

}
#user_check{

}
.guestin::placeholder{
	text-align:center;
	text-transform:capitalize;
}
.guestin:focus{
	outline:none;
	text-align:center;
	
	background:none;

}
.loghead{
	color:#fa534e;
	text-transform:capitalize;
	font-family:arial;
}
#vdiv{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align:center;
}
#data{
	text-align:center;
}